body {
    font-family: Arial, sans-serif;
    background-color: #c7b1b1;
    margin: 20px;
    padding: 20px;
  }
  .container {
    background-color: #ed8383;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  h2 {
    text-align: center;
    color: #333;
  }
  p {
    margin: 8px 0;
  }
  button {
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }